@import "tailwindcss";


:root {
  --background: #f8f8f8;
  /*--background: #f6797d;*/
  --foreground: #999;
}

@theme {
  --font-roboto: var(--font-roboto);
  --font-montserrat: var(--font-montserrat);
  --font-kaushanscript: var(--font-kaushanscript);
}

@variant max-xs {
  @media (max-width: 479px) {
    @slot;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-roboto), serif;
}
